@import url('../init/layout.css');
@import url('../lib/swiper-bundle.min.css');
.mt-90 {
    margin-top: 90px;
}
.mt-130 {
    margin-top: 130px;
}
.pd-1013 {
    padding-top: 100px;
    padding-bottom: 130px;
}
.pd-13 {
    padding: 130px 0;
}
.mainTop {
    height: calc(100vh - 90px);
    margin-top: 90px;
}
.mainTop .mainSlide {
    height: 100%;
}
.slideBtn {
    width: 46px;
    height: 46px;
}
.slideBtn::after {
    content: none;
}
.slideNext {
    background-image: url('../image/ico/icon_mainSlide_next.svg');
    right: 0;
}
.slidePrev {
    background-image: url('../image/ico/icon_mainSlide_prev.svg');
    left: 0;
}
.swiper-pagination.slideProg {
    top: unset;
    left: 275px;
    bottom: 100px;
    width: 300px;
    background: rgba(255, 255, 255, 0.25);
}
.swiper-pagination.slideProg .swiper-pagination-progressbar-fill {
    background-color: white;
}
.topTxt {
    position: absolute;
    left: 275px;
    bottom: 70px;
    opacity: 0;
    visibility: hidden;
    transition: .7s;
}
.topTxt p {
    color: white;
}
.topTxt p:first-child {
    font-size: 44px;
    font-weight: 500;
    line-height: 58px;
    margin-bottom: 15px;
}
.topTxt p:last-child {
    font-size: 22px;
}
.fadeUp {
    bottom: 150px;
    opacity: 1;
    visibility: visible;
    transition: .3s;
}
.main-tit {
    font-size: 36px;
    color: var(--black-st1);
    font-weight: 500;
    text-align: center;
    margin-bottom: 21px;
}
.main-tab {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
}
.main-tab p {
    position: relative;
    color: var(--black-st1);
    cursor: pointer;
    font-size: 20px;
    line-height: 10px;
    margin-left: 24px;
}
.main-tab p:first-child {
    margin-left: 0;
}
.main-tab p.active {
    color: var(--primary-st1);
    font-weight: 700;
}
.main-tab p.active::after {
    content: '';
    display: inline-block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--primary-st1);
    left: 0;
    bottom: -1px;
}
.prod-wrap > ul {
    display: flex;
    gap: 12px;
}
.prod-wrap > ul > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prod-wrap > ul > li > a > .img-wrap {
    padding: 40px 0; background-color: var(--menu-st1);
    margin-bottom: 10px;
}
.prod-wrap > ul > li > a > .img-wrap img {
    transition: all 0.5s;
}
.prod-wrap > ul > li:hover .img-wrap img {
    transform: scale(1.1);
}
.prod-wrap > ul > li a .product-title {
    line-height: 26px;
}
.prod-wrap > ul > li a .product-price {
    font-weight: 500;
    line-height: 19px;
    margin-top: 12px;
}
.fit {
    background-image: url(../image/pic/main2Sectionbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.fit .prod-wrap > ul {
    display: none;
}
.fit .prod-wrap > ul > li {
    width: 33.33333%;
    background-color: white;
}
.fit .prod-wrap > ul > li > a > .img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: unset;
}
.fit .prod-wrap > ul > li > a > .img-wrap .product-code {
    margin-top: 30px;
    line-height: 19px;
    color: var(--black-st2);
}
.fit .prod-wrap > ul > li > a > .img-wrap .product-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}
.fit .prod-wrap > ul > li > a > .img-wrap .product-detail-btn {
    color: var(--primary-st2);
    line-height: 19px;
    margin-top: 24px;
    font-weight: 500;
    border-bottom: 1px solid var(--primary-st2);
}
.fit .prod-wrap > ul.show {
    display: flex;
}
.horizontal-cont {
    background-color: var(--menu-st1);
}
.horizontal-cont .main-tit {
    text-align: left;
}
.horizontal-cont .slide-cont {
    display: flex;
}
.horizontal-cont .slide-cont .tit-box {
    min-width: 430px;
    max-width: 430px;
}
.more {
    font-weight: 500;
    color: var(--primary-st2);
    margin-top: 13px;
    border-bottom: 1px solid var(--primary-st2);
}
.horizontal-cont .slide-cont .slide-box {
    width: calc(100% - 430px);
}
.horizontal-cont .slide-cont .slide-box ul > li > a .img-wrap {
    overflow: hidden;
}
.horizontal-cont .slide-cont .slide-box ul > li > a .img-wrap img {
    width: 100%;
    transition: all .5s;
}
.horizontal-cont .slide-cont .slide-box ul > li:hover > a .img-wrap img {
    transform: scale(1.1);
}
.horizontal-cont .slide-cont .slide-box ul > li p {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}
.horizontal-cont .slide-cont .slide-box ul > li p:nth-of-type(1) {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.horizontal-cont .slide-cont .slide-box ul > li p:nth-of-type(2) {
    color: var(--black-st2);
    line-height: 28px;
    margin-top: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.story .slideBtn {
    top: calc(50% - 46px);
}