<div class="inner pd-70">
    <ul class="footer-l">
        <li>
            <a href="/"><img src="./src/image/ico/icon_flogo.svg" alt="footer_logo"></a>
        </li>
        <li>
            <input type="button" value="Family Site">
        </li>
        <li>
            <a href="https://www.youtube.com/@user-mp9ve1vi5e"><img src="./src/image/ico/icon_footer_youtube.svg" alt=""></a>
            <a href="https://www.instagram.com/modevi_official/"><img src="./src/image/ico/icon_footer_instar.svg" alt=""></a>
        </li>
    </ul>
    <ul class="footer-r">
        <li>
            <ul>
                <li>
                    <p>서비스 문의 <span>1588-7100</span></p>
                    <p>상담가능시간 10:00~17:00</p>
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>
                    <a href="">공지사항</a>
                </li>
                <li>
                    <a href="">매장찾기</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="">1:1문의</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">이용약관</a>
                    <a href="">개인정보처리방침</a>
                </li>
                <li>
                    <p>씨알케이(주)</p>
                    <p>대표 : 강성희, 김병열</p>
                </li>
                <li>
                    <p>주소</p>
                    <p>서울특별시 영등포구 국제금융로 10</p>
                </li>
                <li>
                    <p>사업자 등록 번호</p>
                    <p>220-85-07415</p>
                </li>
                <li>
                    <p>Copyright 2023&copy; CRK Corporation. All Rights Reserved</p>
                </li>
            </ul>
        </li>
    </ul>
</div>