<div class="inner">
    <div id="logo"><a href=""><img src="./src/image/ico/icon_logo.svg" alt="로고"></a></div>
    <nav>
        <a href="">Brand</a>
        <a href="">냉장고</a>
        <a href="">주방가전</a>
        <a href="">생활가전</a>
        <a href="">Fit in Modevi</a>
        <a href="">나우 모드비</a>
    </nav>
    <div class="headerR">
        <a href=""><img src="./src/image/ico/icon_search.svg" alt="검색"></a>
        <a href=""><img src="./src/image/ico/icon_mypage.png" alt="마이페이지"></a>
        <a href="https://smartstore.naver.com/carrierref/category/58bfac0cd91d43d98a8e473cc8533071?cp=1" target="_blank">Smart Store</a>
    </div>
</div>