@import url('./init.min.css');
:root {
    --primary-st1 : #016A8D;
    --primary-st2 : #006A8E;
    --menu-st1 : #F1F0EC;
    --menu-st2 : rgba(241, 240, 236, 0.8);
    --black-st1 : #191919;
    --black-st2 : #888;
    --black-st3 : #222;
    --black-st4 : #d8d8d8;
    --main-bg1 : #E8E7E0;
    --search-btn : #E2E0D9;
}
body {overflow-y: scroll;}
#container {position: relative;}
.inner {padding: 0 102px;}
.mt-90 {
    margin-top: 90px;
}
.mt-130 {
    margin-top: 130px;
}
.pd-1013 {
    padding-top: 100px;
    padding-bottom: 130px;
}
.pd-13 {
    padding: 130px 0;
}
.pd-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}